{% block maileon_module_site %}
    <sw-page class="treaction-module-site">
        {% block maileon_module_site_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block maileon_module_site_smart_bar_header_title %}
                    <h2>
                        {{ $tc('treaction-module.content.pluginTitle') }}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block maileon_module_site_content %}
            <template slot="content">
                <sw-card-view>
                    <sw-card>
                        {% block maileon_module_site_header %}
                            <h2>{{ $tc('treaction-module.content.contentSiteHeaderText') }}</h2>
                        {% endblock %}
                        {% block maileon_module_site_permission_select %}
                            <sw-single-select
                                    class="treaction-module-site-permission-select"
                                    :label="$tc('treaction-module.content.permissionSelectLabel')"
                                    :placeholder="$tc('treaction-module.content.permissionSelectPlaceholder')"
                                    highlightSearchTerm=false
                                    required
                                    v-model="permission"
                                    :options="permissions">
                            </sw-single-select>
                        {% endblock %}
                        {% block maileon_module_site_import_btn %}
                            <sw-button-process
                                    variant="primary"
                                    @click="onClickImport">
                                {{ $tc('treaction-module.content.importProcessButtonText') }}
                            </sw-button-process>
                        {% endblock %}
                    </sw-card>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
