{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}
{% block page_checkout_confirm_tos_control %}
    {# for AGB #}
    <div class="custom-control custom-checkbox ">
        {% block page_checkout_confirm_tos_control_checkbox %}
            <input type="checkbox"
                   class="checkout-confirm-tos-checkbox custom-control-input{% if formViolations.getViolations('/tos') is not empty %} is-invalid{% endif %}"
                   checked="checked"
                   required="required"
                   id="tos"
                   form="confirmOrderForm"
                   name="tos"/>
        {% endblock %}

        {% block page_checkout_confirm_tos_control_label %}
            <label for="tos"
                   class="checkout-confirm-tos-label custom-control-label">
                {{ "checkout.confirmTerms"|trans({
                    '%url%': path('frontend.cms.page',{ id: shopware.config.core.basicInformation.tosPage })
                })|raw }}
            </label>
        {% endblock %}
    </div>

    {# For Newsletter registration #}
    <div class="custom-control custom-checkbox">
        {% block page_checkout_confirm_tos_control_checkbox1 %}
            <input type="checkbox"
                   class="custom-control-input"
                   id="opt-out-text" name="opt-out-text" form="confirmOrderForm" checked>
        {% endblock %}
        {% block page_checkout_confirm_tos_control_label1 %}
            <label for="opt-out-text" class="custom-control-label">
                {# {{ app.request.uri }}, {{app.request.baseUrl }} #}
                {% set email = shopware.config.TreactionMIOShopware6.config.email %}
                {% set shopName = shopware.config.TreactionMIOShopware6.config.shopName %}
                {% set shopUrl = shopware.config.TreactionMIOShopware6.config.shopUrl %}
                {% set dataProtectionUrl = shopware.config.TreactionMIOShopware6.config.optinurl %}
                {% set imprint = shopware.config.TreactionMIOShopware6.config.imprint %}

                {# Check if the shopname is defined. #}
                {% if shopName is empty %}
                    {% set  shopName = "URL" %}
                {% endif %}

                {# Check if the shop Url is defined. #}
                {% if shopUrl is empty %}
                    {% set shopUrl = app.request.getSchemeAndHttpHost() %}
                {% endif %}

                Ich bin damit einverstanden, dass der <a href="{{ imprint }}" target="_blank">{{ shopName }}</a>
                meine E-Mail-Adresse verwendet, um mir in Zukunft per E-Mail interessante Angebote für Produkte,
                die zu den erworbenen Produkten ähnlich sind,zukommen zu lassen. Ich kann dieser Verwendung jederzeit
                widersprechen,
                etwa durch eine Entfernung des Häkchens, aber auch durch eine <a href="mailto:{{ email }}">E-Mail</a>
                an Kosten
                (außer den Übermittlungskosten nach den Basistarifen) werden für einen derartigen Widerspruch nicht
                erhoben. Weitere Informationen finden Sie in der <a href="{{ dataProtectionUrl }}" target="_blank">Datenschutzerklärung</a>
                %%
            </label>
        {% endblock %}
    </div>

{% endblock %}
