{% block component_privacy_notice %}
    <p class="form-text privacy-notice">
    {% block component_privacy_label %}
        <label>
        {% set optinUrl = shopware.config.TreactionMIOShopware6.config.optinurl %}
        <strong>{{ "general.privacyTitle"|trans|sw_sanitize }}</strong><br/>
        {% if optinUrl is empty %}
            {{ "general.privacyNotice"|trans({
                '%url%': path('frontend.cms.page',{ id: shopware.config.core.basicInformation.privacyPage })
            })|raw }}
        {% else %}
            <p>Ich habe die <a href="{{ optinUrl }}" target="_blank">Datenschutzbestimmungen</a>
                zur Kenntnis genommen .</p>
        {% endif %}
        </label>
    {% endblock %}
    </p>
{% endblock %}
