{#<input type="button" name="testAPI" value="Test API">#}

<div>
    <sw-button-process
            :isLoading="isLoading"
            :processSuccess="isSaveSuccessful"
            @process-finish="saveFinish"
            @click="check"
    >Test
    </sw-button-process>

    <sw-text-field :copyable="false" :copyableTooltip="false">
        Lorem ipsum dolor sit amet
    </sw-text-field>
</div>
