{% sw_extends '@Storefront/storefront/element/cms-element-form/form-types/newsletter-form.html.twig' %}
{% block cms_form_newsletter_privacy %}
    <label>
        {% set optinUrl = shopware.config.TreactionMIOShopware6.config.optinurl %}
        {% if optinUrl is empty %}
            {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig' %}
        {% else %}
            <input type="checkbox" name="frontend_newsletter_form_privacy" required="required" aria-required="true"
                   class="input--field is--required has--error">
            Ich stimme den <a href="{{ optinUrl }}">Datenschutzbestimmungen</a> zu.
        {% endif %}

        {# Ich erkläre mich mit den AGB und Datenschutzbestimmungen der treaction AG, Kurfürstenstr. 1, 34117 Kassel,
        einverstanden. Ich bin einverstanden, dass die treaction AG meine eingetragenen Daten nutzt und mir E-Mails
        zuschickt bzw. mich anruft, um mir Angebote/Beratung zu den Bereichen Lead-Generierung, Marketing-Automation
        oder E-Mail-Marketing zukommen zu lassen. Diese Einwilligung kann ich jederzeit widerrufen, etwa durch einen
        Brief an die oben genannte Adresse oder durch eine E-Mail an widerruf@treaction.net. Anschließend wird jede
        werbliche Nutzung unterbleiben. #}
    </label>
    <br>
{% endblock %}